{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>

    <div>Date de création: {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</div>

    <div>{{ article.content }}</div>

    <div>{{ article.img }}</div>

    <div>Note: 
                {% if article.commentaires|length > 0 %}
                {% set total = article.commentaires|map(c => c.notation)|reduce((carry, v) => carry + v) %}
                {% set moyenne = (total / article.commentaires|length)|round(1) %}
                {{ moyenne|number_format(moyenne is same as(moyenne|round(0)) ? 0 : 1) }}/5
                {% else %}
                    -
                {% endif %}
        </div>


    <div><a href="{{ path('app_articles_index') }}">Retour aux articles</a></div>

    <div><a href="{{ path('app_articles_edit', {'id': article.id}) }}"><button>Modifier l'article</button></a></div>

    {{ include('articles/_delete_form.html.twig') }}
    <br>
    <div><a href="{{ path('app_commentaires_new', {'id': article.id}) }}"><button>Poster un commentaire</button></a></div>

    <h2>Tous les commentaires de l'article:</h2>
    {% for commentaire in article.commentaires|sort((a, b) => b.createdAt <=> a.createdAt) %}
    <div>{{ commentaire.name }}</div>
    <div>Date de publication: {{ commentaire.createdAt ? commentaire.createdAt|date('Y-m-d H:i:s') : '' }}</div>
    <div>Note: {{ commentaire.notation }}/5</div>
    <div>{{ commentaire.comment }}</div>
    <div><a href="{{ path('app_commentaires_edit', {'id': commentaire.id}) }}"><button>Modifier le commentaire</button></a></div>
    <div>{{ include('commentaires/_delete_form.html.twig') }}</div>
    <br>
    {% else %}
        <div>Aucun commentaire pour cet article.</div>
    {% endfor %}
{% endblock %}
